@charset "UTF-8";

 
	/* ---------------------- GUESTBOOK 리스트 ---------------------- */

	.listForm {
		max-width: 500px;
        height: 650px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto;
	}
	
	.listTitle {
		padding: 10px 0;
	}
	
	.gbwrite_modal {
		position: absolute;
		top: 105px;
		right: 30px;
	}
	
	.list {
		height: 90%;
		padding: 10px;
		background-color: white;
		border-radius: 5px;
		overflow: auto;
	}
	
	.list tr, .list td {
		background-color: white;	
	}
	
	.listTable {
		width: 100%;
	}
 
 	.gblist_width {
 		width: 100%;
 	}
 	
 	.gblist_con {
 		width: 100%;
 		height: 60px;
 	}
 	
 	 .gblist_content {
 	 	padding-left: 20px;
 		border-bottom: 1px solid #eee;
 		font-weight: 0.7em;
 	}
 	
 	.gblist_memImgR {
 		width: 40px;
 		padding: 10px;
 		padding-top: 15px;
 	}
 	
 	.gblist_memImg {
 		border-radius: 50px;
 	}
 	
 	.gblist_uploadPhoto {
 		border-bottom: 1px solid #eee;
 	}
 	
 	.gblist_info {
 		width: 190px;
 		padding-top: 10px;
 	}
 	
 	/* ---------------------- GUESTBOOK 리스트 끝 ---------------------- */