@charset "UTF-8";

 	/* ---------------------- GUESTBOOK 버튼 페이지 ---------------------- */
 
	.moveToGb {
		min-width: 375px;
        max-width: 500px;
        height: 650px;
        float: left;
	}

    .moveToGb button {
        margin: 10px;
        width: 100px;
        height: 100px;  
        background-color: red;
        color: white;
        font-weight: 1.5em;
        border: 0px;
    }
 
 
	/* ---------------------- GUESTBOOK 리스트 ---------------------- */
	
	.gblistForm {
		min-width: 375px;
		max-width: 500px;
        max-height: 650px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
	}
	
	.gblist_title {
		width: 100%;
		height: 45px;
		padding: 5px 0;
	}
	
	.gblist_title span {
		padding: 0px 70px;
	}
		
	.gb_back_btn {
		border: 0px;
	}
	
	.reg_modal_open_btn {
		border: 0px;
	}
	
	.gblist {
		width: 100%;
		height: auto;
		padding: 10px;
		background-color: white;
		border-radius: 5px;
	}
	
	.gblist tr, .gblist td {
		background-color: white;	
	}
	
	.gblist_table {
		width: 100%;
	}
	
	.secretGb {
		border: 2px solid #aaa;
		background-color: #f5f5f5;
	}
 
 	.gblist_width {
 		width: 100%;
 	}
 	
 	.gblist_memImgR {
 		width: 10%;
 		padding: 10px;
 		padding-top: 15px;
 	}
 	
 	.gblist_memImg {
 		border-radius: 50px;
 	}
 	
 	 .gblist_info {
 		width: 65%;
 		padding-top: 10px;
 	}
 	 	
 	.gblist_btns {
 		width: 40%;
 		background-color: red;
 		padding: 5px 0;
 	}
 	
 	.gblist_width button {
 		width: 30px;
 		height: 20px;
 		float: left;
 	}
 	
 	.gblist_con {
 		width: 100%;
 		height: 60px;
 	}
 	
 	.gblist_content {
 	 	width: 100%;
 	 	padding-top: 10px;
 	 	padding-bottom: 10px;
 	 	padding-right: 10px;
 	 	padding-left: 20px;
 		border-bottom: 1px solid #eee;
 		font-weight: 0.7em;
 	}
 	
 	.gblist_uploadPhoto {
 		border-bottom: 1px solid #eee; 	
 	}
 	

 	
 	/* ---------------------- GUESTBOOK 리스트 끝 ---------------------- */
 	
 	
 	/* ---------------------- GUESTBOOK 등록 MODAL ---------------------- */
 	
/*  	.modalFade {
 	    display:none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 90%;
        background-color:rgba( 255, 255, 255, 0.5 );
        padding-top: 150px;
        padding-left: 30px;
    } */
    
   .regModal_wrapper {
    	position: fixed;
    	top: 0px;
    	left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        z-index: 9999;
        justify-content: center;
        align-items: center;
    }
    
    .updateModal_wrapper {
    	position: fixed;
    	top: 0px;
    	left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        z-index: 9999;
        justify-content: center;
        align-items: center;
    }
    
    .deleteModal_wrapper {
    	position: fixed;
    	top: 0px;
    	left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        z-index: 9999;
        justify-content: center;
        align-items: center;
    }
            
    .regModal_wrapper tr, .regModal_wrapper td {
        /* border: 1px solid; */
    }
 
    .regModal {
        position: relative;
        width: 400px;
        height: 570px;
        background-color: white;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    
    .regModal_back {
        float: left;
    }
    
    /* 방명록 등록 모달창 헤더 */
    .regModal_header {
    	border-radius: 10px 10px 0 0;
    }
    
    .reg_modal_close_btn {
    	border: 0px;
    	padding: 10px;
    }
    
    .regModal_title {
        text-align: center;
        padding: 10px;
    }
    
    /* 방명록 등록 모달창 내용 */
    .regModal_body {
    	width: 100%;
    	height: 86%;
    }
    
    .regModal_table {
        width: 100%;
        height: 480px;
    }
    
    .regModal_table td {
    	padding: 20px;
    }
    
    .greetArea {
    	height: 100px;
    }
    
    .tableExp {
        width: 70%;
        height: 30px;
    }
    
    .tableImg {
        width: 30%;
        padding: 20px;
    }
    
    .insertArea {
        vertical-align: top;
        height: 250px;
    }
    
    .tableInsert {
        vertical-align: top;
    }
    
    .tableInsert input[type=text]{
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 10px;
        line-height: 10px;
    }
    
    input::placeholder {
    	text-align: top;
    }
    
    .tableInsertPhoto {
        width: 50px;
        padding-top: 50px;
    }
    
    
    .secretArea {
    	width: 100%;
    	hegiht: 50px;
    	padding-left: 50%;
    }
    
    .secretArea td {
    	padding-left: 230px;
    }
    
    .regModal_footer {
    	backgournd-color: white;
    	border-radius: 0px 10px;
    }
    
    /* 방명록 등록 모달창 Footer */
    #reg_submit_btn {
        width: 100%;
        height: 35px;
        background-color: #ffd74e;
        color: white;
        border: 0px;
        border-radius: 0 0 20px 20px;
    }
    
    .updateModal {
    	width: 100%;
    	height: 86%;
    }
    
    .deleteModal {
    	position: relative;
    	width: 350px;
    	height: 200px;
    	background-color: white;
    	margin: 20px;
    	padding: 15px;
    	border-radius:10px;
    }
    
    .deleteModal table  {
    	width: 100%;
    	height: 95%;
    }
    
    .deleteModal_body {
    	
    }
    
    .deleteModal .tableExp {
    	width: 65%;
    	height: 90%;
    	padding: 10px;
    }
    